# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Maven
target/

# Compiled files
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env

# Spring Boot
application-local.properties
application-local.yml